.box {
    width: 350px;
    height: 350px;
    background-color: brown;
    margin-bottom: 20px;

    border-radius: 30px;
    box-shadow: 3.5px 3.5px 3.5px #999;
}
.btn {
    margin: 0px 15px 0px 0px;
    border: none;
    outline: none;
    cursor: pointer;

    width: 200px;
    height: 20px;

    background-color: darkblue;
    color: white;
    border-radius: 20px;

    box-shadow: 3.5px 3.5px 3.5px #999;
    transition: 0.7s;

}
.btn:hover {
    background-color: #fff;
    color: darkblue;
    border: 1px solid darkblue;
}